/* styles-produtos-css */

/* Estilo para o elemento raiz */
.root {
	-fx-background-color: lightskyblue;
}

/* Estilo para Labels */
.label {
	-fx-font-size: 14px; /* Define o tamanho da fonte como 14px */
	-fx-text-fill: black; /* Define a cor do texto como preto */
	-fx-font-weight: bold; /* Define o peso da fonte como negrito */
}

/* Estilo para campos de texto */
.text-field {
	-fx-background-color: white; /* Define a cor de fundo como branco */
	-fx-border-color: lightgray; /* Define a cor da borda como cinza claro */
}

/* Estilo para botões */
.button {
	-fx-text-fill: white; /* Define a cor do texto como branco */
	-fx-font-size: 14px; /* Define o tamanho da fonte como 14px */
	-fx-cursor: hand; /* Define o cursor como uma mão ao passar sobre o botão */
}

/* Estilo para botões ao passar o mouse */
.button:hover {
	-fx-background-color: linear-gradient(to bottom, lightskyblue, deepskyblue); /* Define um gradiente de azul claro para azul escuro */
}

/* Estilo para visualização das tabelas */
.table-view {
	-fx-background-color: white; /* Define a cor de fundo como branco */
	-fx-border-color: lightray; /* Define a cor da borda como cinza claro */
}

/* Estilo para células da tabela */
.table-cell {
	-fx-padding: 10px; /* Define o preenchimento interno como 10px */
	-fx-border-color: lightray; /* Define a cor da borda como cinza claro */
}